.dropdown-container {
  width: 300px;
  max-width: 90%;
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 1rem;
}

.dropdown-input {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  font-size: 2rem;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(1rem);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 1rem;
  overflow: auto;
  max-height: 500px;
  background-color: #fff;

  font-size: 1.5rem;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color: #222;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}
