.nav--ls {
  height: 80px;
  /* border-bottom: 1px solid gray; */
  color: #ddd;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  padding-inline: 1rem;
  padding-top: 0.5rem;
}

.nav__link {
  color: #ddd;
  text-decoration: none;
  /* border: 1px solid red; */
  font-family: "Exo 2", sans-serif;
  font-size: 1.25rem;
  margin-inline: 1rem;
}

/* .nav__link:visited {
  text-decoration: blue;
} */

.nav__link--logo {
  color: #ddd;
  font-size: 2.5rem;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
}

.nav__links {
  display: flex;
  gap: 2rem;
}

@media (min-width: 768px) {
  .nav__link:hover {
    color: #00ffff;
    padding-inline: 0;
    border-bottom: 2px solid #00ffff;
  }
}
