*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  width: 100vw;
  height: 100vh;

  background-color: antiquewhite;
}

.main{
  border: 1px solid blue;
  width: 800px;
  height: 550px;

  display: flex;
  flex-flow: column nowrap;

  overflow: hidden;
}

.population{
  border: 1px solid green;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.population-bar{
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  padding-inline: 5px;
}

#human-pop{
  background-color: lightgreen;
  align-items: flex-start;
}

#invader-pop{
  background-color: lightcoral;
  align-items: flex-end;
}
.main-view{
  border: 3px solid red;
  width: 100%;
  height: 350px;

  position: relative;
  /* display: grid;
  grid-template-rows: 1fr 90px;
  grid-template-areas: 
    "main"
    "ships"; */
  overflow: hidden;;
}
/* air space */

.backgrounds{
  border: 2px solid green;
  width: 100%;
}

.backgrounds img{
  position: absolute;
  bottom: -20px;
  z-index: 10; 
  width: 1200px;
  height: auto;
}

.air-space{
  /* grid-area: main; */
  background: url(../imgs/sky_background_green_hills.png);
  background-size: cover;
  background-position: bottom center;

  /* border: 1px solid greenyellow; */
  /* background-color: aqua; */
  height: 100%;
}

.capsule-container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  height: 100px;
  border: 1px solid black;

  position: absolute;
}


.capsule-img{
  height: 50px;
}
/* ship containers */
.ship-container{
  border: 1px solid yellow;
  /* background-color: aquamarine; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-end;
  z-index: 20;
  grid-area: ships;

  position: absolute;
  bottom: 0;
  /* background-color: red; */
}

.moving-down{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: move-down 8s linear infinite;
}

@keyframes move-down{
  from{
    top: -50px;
  }
  to{
    top: 75%;
  }
}

/* spaceships */
.ship{
  border: 1px solid red;
  height: 70px;

  display: flex;
  align-items: flex-start;
}

.ship-img{
  height: 80px;
}

.choices{
  border: 1px solid gray;
  height: 100px;
  display: flex;
  flex-flow: row;
}

.choice{
  border: 5px solid gray;
  width: 100%;
  background-color: lightgreen;
  height: 100%;

  font-size: 4rem;
  cursor: pointer;
}

button:disabled{
  background-color: lightgray;
  opacity: 0.5;
  cursor: not-allowed;
}

.controls{
  border: 1px solid orange;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.control{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: darkolivegreen;
}


/* centered classes */
.flex--centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.at-bottom{
  bottom: 10%;
  width: 100%;
}