.add-page__inputs {
  display: flex;
  justify-content: center;
  align-items: stretch;

  /* background-color: aquamarine; */
  /* border: 1px solid black; */
  gap: 2rem;

  height: 3.3rem;
}

.add-page__buttons {
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#add-page-table {
  width: 30%;
}

.table-head {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
}

.add-page__visuals {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
