.page--blog {
  margin: auto;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  font-size: 1.5rem;
  /* background-color: red; */
}

.page--blog a {
  text-decoration: none;
  color: aqua;
  transform: translateY(-80px);
}

.page--blog a:hover {
  text-decoration: underline;
  color: aquamarine;
}
