.page--chart {
  min-height: calc(100vh - 80px);

  background-image: linear-gradient(180deg, #15664f, #1e4363);
  color: #ddd;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 1rem;
}

.message {
  text-align: center;
}

.message p {
  font-size: 1.5rem;
  margin: 1rem;
}

#btn--upgrade {
  height: 100%;
  border-radius: 1rem;
  padding: 0.5rem 2rem;

  background-image: linear-gradient(180deg, #4ab07e, #2b80b9);
  border: none;
  cursor: pointer;

  font-size: 1.5rem;
}

.charts-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
/* for individual chart container */
.chart-card {
  width: 320px;
  height: 450px;
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.chart--pie {
  background-color: white;
  width: 300px;
  height: 300px;
  padding: 1rem;
  border-radius: 1rem;
  margin-inline: auto;
}

.date-details {
  font-size: 1.2rem;
}

.chart-summary {
  text-align: center;
}

button {
  color: black;
  padding: 0.15rem;
}

.chart-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: #2b80b9; */
}

.close-button {
  padding: 1.5px 10px;
  /* background-color: #f44336; */
  /* color: white; */
  color: black;
  /* border: none; */
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #e53935;
  transform: none;
}

#add-chart-btn {
  width: 200px;
  height: 50px;

  transform: translateY(20%);
}

#add-chart-cont {
  width: 320px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 1rem;

  cursor: pointer;
}

#add-chart-cont:hover {
  border-color: goldenrod;
  box-shadow: -1px 2px 5px goldenrod;
}

@media (max-width: 768px) {
  .charts-container {
    margin-top: 90px;
  }
}
