.page--home {
  padding: 0.5rem;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  color: #eee;
}

.page--home__text {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-inline: 5rem;
}

.page--home__greet {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.quote {
  margin: 1rem auto;
  max-width: 60%;
  font-size: 2rem;
  font-style: italic;
  padding: 2rem;
  border-radius: 10px;
}

.quote__text {
  text-align: center;
}

.quote__auth {
  font-size: 1.5rem;
  text-align: right;
  padding-right: 3rem;
}

.quote:hover {
  cursor: pointer;
  background-image: linear-gradient(135deg, #e0f0e8, #6ec6e9cc);
  color: #000;
}

/* TEST */
