/* PAGES */
.page {
  width: 100%;
  height: 100%;
  /* color: #eee; */
}

.page--title {
  /* background-color: blue; */
  min-height: 100vh;
  text-align: center;
}

#app-title {
  padding-top: 30vh;
  /* outline: 1px solid black; */
  min-width: 100%;
  font-size: 4rem;
  color: #ddd;
  transform: translateY(-30px);
}

#title-subtext {
  color: #00e1ff;
  font-size: 1.8rem;
  margin-bottom: 6rem;
  /* margin-top: 2rem; */
  transform: translateY(-70px);
}

/* BUTTON  */
.btn {
  font-weight: bold;
  color: #eee;
  border: none;
  background-image: linear-gradient(180deg, #4ab07e, #2b80b9);
  margin: 0.5rem;
  cursor: pointer;
}

.btn--start {
  font-size: 2rem;
  padding: 1rem;
  width: 30rem;
  border-radius: 4rem;
  margin: 1rem;
}

.small {
  font-family: "Exo 2", sans-serif;
  color: #ddd;
}
/* LINKS */
#donate {
  color: #00e1ff;
  text-decoration: none;
}

#donate:hover {
  color: #0077ff;
}

button {
  color: #ddd;
}

button:hover {
  color: #00e1ff;
  transform: translateY(-5px);
  transition: 1s;
}

#app-title:hover {
  transform: translateY(-45px);
  transition: 1.5s;
  transition-timing-function: ease-in-out;
}

/* MEDIA QUERIES */

/* FOR TABLET SCREENS (481px to 768px

/* @media screen and (min-width:500px) {


} */

@media (max-width: 768px) {
  /* PAGES */
  .page {
    width: 100%;
    /* height: 100%; */
    /* color: #eee; */
  }

  .page--title {
    min-height: 100vh;
    text-align: center;
  }

  #app-title {
    padding-top: 30vh;
    min-width: 100%;
    font-size: 2rem;
    color: #ddd;
  }

  #title-subtext {
    color: #00e1ff;
    font-size: 1rem;
    margin-top: 1rem;
  }

  /* BUTTON  */
  .btn {
    /* font-weight: bold; */
    color: #eee;
    border: none;
    background-image: linear-gradient(180deg, #4ab07e, #2b80b9);
    margin: 0.25rem;
    cursor: pointer;
  }

  .btn--start {
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
    border-radius: 2rem;
    margin: 0.5rem;
  }

  .small {
    font-size: 0.75rem;
    font-family: "Exo 2", sans-serif;
    color: #ddd;
  }
  /* LINKS */
  #donate {
    color: #00e1ff;
    text-decoration: none;
  }

  #donate:hover {
    color: #0077ff;
  }

  button {
    color: #ddd;
  }
}
