* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* font-family: "Exo 2", sans-serif; */
  font-family: "Prompt", sans-serif;
  /* font-family: "Work Sans", sans-serif; */
}

body {
  /* background-color: lightgray; */
  min-height: 100vh;

  background-image: linear-gradient(180deg, #15664f, #1e4363);
}
/* MY STYLING */
